### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store.idea/
*.iml
*.class
16.01.2026.java
TicketPrice.java
MonthDays*.java
TransportDiscount*.java

src/DoubleFactorial.java
src/Main.java
src/ReverseArray.java
src/Task2.java
src/Task3.java
src/Task4.java
src/package-info.java
.idea/

